<configuration>

	<appender name="AnalyticsFile" class="ch.qos.logback.core.FileAppender">
		<file>/var/log/completionary/analytics.log</file>
		<encoder>
			<pattern>%date\t%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="SuggestionIndexFile" class="ch.qos.logback.core.FileAppender">
		<file>/var/log/completionary/suggestionIndex.log</file>
		<encoder>
			<pattern>%date\t%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%date\t%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="de.completionary.proxy.elasticsearch.AnalyticsLogger">
		<appender-ref ref="AnalyticsFile" />
	</logger>

	<logger name="de.completionary.proxy.elasticsearch.SuggestionIndex">
		<appender-ref ref="SuggestionIndexFile" />
	</logger>


</configuration>
